body .btn_light {
    background: #f0f8ff;
    padding: 8px 22px;
    display: block;
    border: 2px solid #f0f8ff;
    background-color: transparent;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
    color: #f0f8ff;
    cursor: pointer;
    transition: all .3s ease-in-out
}

body .btn_light:hover {
    background-color: #f0f8ff;
    color: #000
}

@media (min-width:768px) {
    body .btn_light {
        padding: 8px 32px
    }
}

@-webkit-keyframes blink-anime {
    0% {
        fill: #000
    }

    49% {
        fill: #000
    }

    60% {
        fill: transparent
    }

    99% {
        fill: transparent
    }

    to {
        fill: #000
    }
}

@keyframes blink-anime {
    0% {
        fill: #000
    }

    49% {
        fill: #000
    }

    60% {
        fill: transparent
    }

    99% {
        fill: transparent
    }

    to {
        fill: #000
    }
}

.slider_section {
    margin: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 100
}

@media (min-width:992px) {
    .slider_section {
        margin: 3.125rem 0
    }
}

.slider_section.slider_section_right {
    right: 15px
}

@media (min-width:992px) {
    .slider_section.slider_section_right {
        align-items: flex-end;
        height: calc(100vh - 2rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: 3.125rem;
        height: calc(100vh - 6.25rem)
    }
}

.slider_section.slider_section_right .btn_down {
    display: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    position: relative;
    padding: 0;
    flex-direction: column;
    align-items: center;
    max-width: 20px;
    min-height: 100px
}

@media (min-width:992px) {
    .slider_section.slider_section_right .btn_down {
        display: flex
    }
}

.slider_section.slider_section_right .btn_down svg {
    transition: transform .3s ease;
    position: relative;
    top: 40px
}

.slider_section.slider_section_right .btn_down:hover svg {
    transform: translateY(10px)
}

.slider_section.slider_section_right .btn_down span {
    display: block;
    transform: rotate(-90deg);
    color: #f0f8ff;
    position: relative;
    font-size: 13px;
    opacity: .4;
    letter-spacing: 1px;
    min-width: 100px;
    font-family: "Source Sans Pro", sans-serif
}

.slider_section.slider_section_right .btn_up {
    display: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    position: relative;
    padding: 0;
    flex-direction: column;
    align-items: center;
    max-width: 20px;
    min-height: 100px
}

@media (min-width:992px) {
    .slider_section.slider_section_right .btn_up {
        display: flex
    }
}

.slider_section.slider_section_right .btn_up svg {
    transition: transform .3s ease;
    position: relative;
    top: -15px
}

.slider_section.slider_section_right .btn_up:hover svg {
    transform: translateY(-10px)
}

.slider_section.slider_section_right .btn_up span {
    display: block;
    transform: rotate(-90deg);
    color: #f0f8ff;
    position: relative;
    font-size: 13px;
    opacity: .4;
    letter-spacing: 1px;
    min-width: 100px;
    font-family: "Source Sans Pro", sans-serif
}

.slider_section.slider_section_right .nav__wrapper {
    display: none
}

@media (min-width:992px) {
    .slider_section.slider_section_right .nav__wrapper {
        display: block
    }
}

.slider_section.slider_section_right .nav__wrapper #side_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative
}

.slider_section.slider_section_right .nav__wrapper #side_nav:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    border-radius: 50px;
    height: 100%;
    display: block;
    opacity: .4;
    background-color: #f0f8ff
}

.slider_section.slider_section_right .nav__wrapper #side_nav li {
    transition: all .5s ease-in-out
}

.slider_section.slider_section_right .nav__wrapper #side_nav li a {
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 13px;
    color: #f0f8ff;
    transition: all .5s ease-in-out
}

.slider_section.slider_section_right .nav__wrapper #side_nav li:first-child.passedSection:hover~.line {
    transform: translateY(0)
}

.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(2).active~.line,
.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(2).passedSection:hover~.line,
.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(2):hover~.line {
    transform: translateY(50px)
}

.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(3).active~.line,
.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(3).passedSection:hover~.line,
.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(3):hover~.line {
    transform: translateY(100px)
}

.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(4).active~.line,
.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(4).passedSection:hover~.line,
.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(4):hover~.line {
    transform: translateY(150px)
}

.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(5).active~.line,
.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(5).passedSection:hover~.line,
.slider_section.slider_section_right .nav__wrapper #side_nav li:nth-child(5):hover~.line {
    transform: translateY(200px)
}

.slider_section.slider_section_right .nav__wrapper #side_nav .line {
    height: 50px;
    width: 3px;
    background-color: #f0f8ff;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    transition: all .5s ease-in-out
}

.slider_section.overlay_sides_left {
    left: 15px
}

@media (min-width:992px) {
    .slider_section.overlay_sides_left {
        left: 3.125rem
    }
}

.slider_section.overlay_sides_left a {
    text-decoration: none
}

.slider_section.overlay_sides_left .github {
    position: fixed;
    left: 15px;
    bottom: 1rem;
    display: none
}

@media (min-width:992px) {
    .slider_section.overlay_sides_left .github {
        left: 3.125rem;
        bottom: 3.125rem;
        display: block
    }
}