/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s linear;
}

*:focus {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: var(--text-color);
}

/* Root variables */
:root {
    --main-font: 'Courier New', monospace;
    --h1: normal bold min(max(36px, 7vw), 72px) / 1.2 var(--main-font);
    --p: normal normal min(max(14px, 4vw), 24px) / 1.2 var(--main-font);
    --small: normal normal min(max(9px, 2.5vw), 18px) / 1.2 var(--main-font);
    --text-color: #FFFFFF;
    /* text color */
    --background-color: #000000;
    /* Light Gray */
    --comment-color: #2e95d3;
    /* comment */
    --highlight-color: #6e4acf;
    /* White */
}

/* Body styles */
body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0
}

/* Hint font style */
.hint {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #6e4acf;
    /* Vibrant purple color */
    position: relative;
    bottom: 30px;
    /* Adjust the value to set the distance from the bottom of the screen */
    left: 50%;
    transform: translateX(-50%);
    animation: blinking 1s infinite;
    /* Blinking animation */
    margin-top: auto;
    /* Use margin-top to push the hint down */
}

/* Comment styles */
.comment {
    color: var(--comment-color);
    font-style: italic;
}

/* Add a transparent pseudo-element to push the hint down based on the content */
.about-me::after {
    content: "";
    display: block;
    height: 100%;
    margin-top: 20%;
    /* Adjust the value to set the distance from the content */
}

/* Header and Page styles */
h1,
p,
li {
    color: var(--text-color);
}

header,
.page:last-of-type {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
}

header:first-of-type h1,
.page:last-of-type h1 {
    margin-bottom: 10vh 0;
    text-align: left;
}

header:first-of-type p,
.page:last-of-type p {
    margin: 0;
    text-align: left;
    margin-bottom: 5vw;
}

/* Page styles */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5% 7%;
    align-items: stretch;
    justify-content: start;
    max-width: 1000px;
    width: 100%;
    text-align: left;
}

/* Link styles */
a {
    color: var(--highlight-color);
}

/* Heading styles */
.page h1 {
    text-align: left;
    font: var(--h1);
    margin: 0;
    padding-bottom: 4%;
}

/* Paragraph styles */
.page p {
    margin-bottom: 20px;
}

.page p:last-of-type {
    margin-bottom: 0;
}

/* Generic text styles */
p,
li {
    font: var(--p);
    text-align: left;
}

/* Small text styles */
.small {
    opacity: 0;
    font: var(--small);
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1rem;
    width: fit-content;
}

button.small {
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

/* Long description styles */
.page .long-description {
    border: 1px solid var(--text-color);
    text-align: left;
}

.long-description {
    padding: 2%;
    overflow: hidden;
}

/* Wrapper styles */
.page .wrapper {
    justify-content: space-between;
    min-height: 30vh;
}

.page:nth-child(even) {
    text-align: right;
}

.page:nth-child(even) .small {
    align-self: flex-end;
}

.page:nth-child(odd) .wrapper {
    flex-direction: row-reverse;
}

/* Image styles */
img {
    height: 100%;
    filter: var(--img-filter);
}

/* Description styles */
.description {
    width: 100%;
    height: auto;
}

/* Hidden styles */
.hidden {
    display: none;
    opacity: 0;
    transition: all 0.3s linear;
}

/* Blinking animation */
@keyframes blinking {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page {
    opacity: 1;
}

/* Last page link color */
.page:last-of-type a {
    color: var(--highlight-color);
}

/* Tree list styles */
.tree {
    --spacing: 1.5rem;
    --radius: 10px;
}

.tree li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
    margin: 5px;
}

.tree ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}

.tree ul li {
    border-left: 2px solid #ddd;
}

.tree ul li:last-child {
    border-color: transparent;
}

.tree ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid #ddd;
    border-width: 0 0 2px 2px;
}

.tree summary {
    display: block;
    cursor: pointer;
    margin: 5px;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
    display: none;
}

.tree summary:focus {
    outline: none;
}

.tree summary:focus-visible {
    outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / 2 - var(--radius));
    left: calc(var(--spacing) - var(--radius) - 1px);
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    border-radius: 50%;
    background: #ddd;
}

.tree summary::before {
    z-index: 1;
    background: #696 url('images/expand-collapse.svg') 0 0;
}

.tree details[open]>summary::before {
    background-position: calc(-2 * var(--radius)) 0;
}

/* Optional: Add a smooth scrolling effect to anchor links */
html {
    scroll-behavior: smooth;
}

/* Add smooth scrolling behavior */
.scroll-section {
    scroll-behavior: smooth;
}

/* Navigation styles */
.bars {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 101;
    padding-top: 9px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
}

span::before,
span::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 100%;
    height: 4px;
    position: absolute;
}

.bar::before {
    transform: translateY(-9px);
}

.bar::after {
    transform: translateY(9px);
}

.bars.active .bar {
    background-color: transparent;
}

.bars.active span::before {
    animation: top-bar 1s;
    animation-fill-mode: forwards;
}

.bars.active span::after {
    animation: bottom-bar 1s;
    animation-fill-mode: forwards;
}

/* Navbar Links CSS */
#nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1s;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
}

#nav a {
    color: #fff;
    text-decoration: none;
    line-height: 70vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-indent: 50vw;
    border-radius: 50%;
    transition: all .5s;
}

#nav a:hover {
    background: #606f86;
}

#nav {
    list-style: none;
}

.visible {
    z-index: 100 !important;
    opacity: 1 !important;
}

.shape-circle {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    top: -10vw;
    right: -10vw;
    position: absolute;
    transition: all 1s ease-in-out;
    background: #8e9dac;
    box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}

nav.visible>ul>li:first-child {
    width: 200vw;
    height: 200vw;
    top: -100vw;
    right: -100vw;
    z-index: 5;
    transition: all .5s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible>ul>li:nth-child(2) {
    width: 150vw;
    height: 150vw;
    top: -75vw;
    right: -75vw;
    z-index: 6;
    transition: all .6s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible>ul>li:nth-child(3) {
    width: 100vw;
    height: 100vw;
    top: -50vw;
    right: -50vw;
    z-index: 7;
    transition: all .7s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible>ul>li:last-child {
    width: 50vw;
    height: 50vw;
    top: -25vw;
    right: -25vw;
    z-index: 8;
    transition: all .8s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible>ul>li:first-child a {
    line-height: 265vw !important;
    text-indent: 15vw !important;
}

nav.visible>ul>li:nth-child(2) a {
    line-height: 200vw !important;
    text-indent: 17vw !important;
}

nav.visible>ul>li:nth-child(3) a {
    line-height: 137vw !important;
    text-indent: 17vw !important;
}

nav.visible>ul>li:last-child a {
    line-height: 70vw !important;
    text-indent: 12vw !important;
}

@keyframes top-bar {
    50% {
        transform: translateY(0);
    }

    100% {
        transform: rotate(45deg) translateY(0);
    }
}

@keyframes bottom-bar {
    50% {
        transform: translateY(0);
    }

    100% {
        transform: rotate(-45deg) translateY(0);
    }
}

/*Side bar navigation*/

#sideBar.navigation {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f8ff;
    font-family: "Source Sans Pro", sans-serif;
    padding: 13px;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    /* Increase the z-index to place the navigation on top */
}

#sideBar.navigation>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sideBar.navigation>ul>li {
    margin-bottom: 15px;
}

#sideBar.navigation>ul>li>a {
    text-decoration: none;
    color: #f0f8ff;
    display: block;
    padding: 5px;
    transition: background-color 0.3s;
    font-size: 13px;
    /* Adjust the value as per your preference */
    font-family: "Source Sans Pro", sans-serif;
}

#sideBar.slider-container {
    position: relative;
    /* Set the container's position relative to the body element */
    height: 100%;
    /* Set the height of the slider container to match the navigation */
    width: 5px;
}

/* Add a new class for the slider */
.slider {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 5px;
    background-color: white;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    /* Use transform for smooth sliding */
    z-index: 1;

}

/* Add a new class for the vertical line */
.vertical-line {
    position: absolute;
    top: 0;
    right: 2.5px;
    /* Adjust the distance to make the vertical line appear at the right side of the slider */
    transform: translateX(50%);
    height: 100%;
    width: 2px;
    background-color: gray;
    /* Color of the vertical line */
    z-index: 0;
    /* Place the vertical line behind the slider */
}

/* Style the scrollbar track */
body::-webkit-scrollbar {
    width: 6px;
}

/* Style the scrollbar thumb */
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

/* Hide the default scrollbar */
body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}


/*stars,clouds and twinkling css*/

/* Create a container to hold the background effects */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
    /* Set a very low z-index to ensure the background is behind everything */
}


/* Set the background effects for the container */
.background-container .stars {
    background: #000 url(images/stars.png) repeat top center;
}

.background-container .twinkling {
    background: transparent url(images/twinkling.png) repeat top center;
    animation: move-twink-back 200s linear infinite;
}

.background-container .clouds {
    background: transparent url(images/clouds.png) repeat top center;
    opacity: .4;
    animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.stars,
.twinkling,
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    z-index: -3;
}

.twinkling {
    z-index: -2;
    animation: move-twink-back 200s linear infinite;
}

.clouds {
    z-index: -1;
    opacity: .4;
    animation: move-clouds-back 200s linear infinite;
}